* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --BACKGROUND-GRADIENT: linear-gradient(rgb(77, 154, 255), rgb(214, 214, 214));
  --RED: #d66228;
  --ORANGE: #F77F00;
  --YELLOW: #FCBF49;
  --WHITE: #EAE2B7;

  --BUTTON_GRADIENT_BACK: linear-gradient(var(--WHITE), var(--ORANGE));
  --BUTTON_GRADIENT_BACK_HIGHTLIGHTED: linear-gradient(var(--ORANGE), var(--WHITE));
  --BUTTON_GRADIENT_FRONT: linear-gradient(var(--YELLOW), var(--RED));
  --BUTTON_SHADOW_COLOR: rgba(70, 67, 26, 0.466);
  --BUTTON_SHADOW_COLOR_HIGHLIGHT: rgba(255, 241, 39, 0.808);

  --FT_COLOR_BLACK: black;
  --FT_COLOR_WHITE: white;
}

html {
  background: var(--BACKGROUND-GRADIENT);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}


/*UTILITIE CLASSES*/
.hidden {
  position: absolute;
  transform: translate(10000px);
}

/*NAVIGATION*/
.stage {
  position: relative;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.stage:has(> *:nth-of-type(1) input:checked) {
  transform: translateX(300px);
}

.stage:has(> *:nth-of-type(2) input:checked) {
  transform: translateX(150px);
}

.stage:has(> *:nth-of-type(3) input:checked) {
  transform: translateX(0px);
}

.stage:has(> *:nth-of-type(4) input:checked) {
  transform: translateX(-150px);
}

.stage:has(> *:nth-of-type(5) input:checked) {
  transform: translateX(-300px);
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}


.stage label {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 1.5rem bolder;
  background: var(--BUTTON_GRADIENT_BACK);
  padding: 1rem;
  width: 150px;
  height: 20px;
  scale: 1;
  border-radius: 1rem;
  border-color: var(--YELLOW);
  box-shadow: 0rem 0.25rem 15px var(--BUTTON_SHADOW_COLOR);
  user-select: none;
  

  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1),
    width 0.3s ease,
    height 0.1s ease,
    background 0.3s ease,
    color 0.1s ease,
    border 0.2s ease,
    scale 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.stage label:has(>input:checked) {
  font: 1.5rem bolder;
  scale: 1.5;
  box-shadow: 0rem 0rem 20px var( --BUTTON_SHADOW_COLOR_HIGHLIGHT);
  background: var(--BUTTON_GRADIENT_FRONT);
  color: var(--FT_COLOR_WHITE);
  border: 5px solid var(--WHITE);
  z-index: 10;
}

.stage label:has(+ label input:checked),
.stage label:has(> input:checked)+label {
  font: 1.25rem bolder;
  scale: 1.4;
  z-index: 9;
}
.stage label:has(>input:not(:checked)):hover {
  background: var(--BUTTON_GRADIENT_BACK_HIGHTLIGHTED);
}

/*BACKGROUND IMAGE PLACEMENT*/

.background-img {
  position: absolute;
  transition: transform 0.5s ease;
  z-index: -1;
}
.background-img img {
  position: relative;
  width: 100%;
  height: auto;
}
.img-container{
  display: flex;
  justify-content: center;
}

/*hobbys placement*/
.stage:has(label:nth-of-type(1) input:checked) ~.img-container .background-img{
  transform: translate(-500px, -200px);
}
/*ambitions placement*/
.stage:has(label:nth-of-type(2) input:checked) ~.img-container .background-img{
  transform: translate(300px, -300px) rotate(-45deg);
}
/*profile placement*/
.stage:has(label:nth-of-type(3) input:checked) ~.img-container .background-img{
  transform: translate(0px, -200px);
}
/*educations placement*/
.stage:has(label:nth-of-type(4) input:checked) ~.img-container .background-img{
  transform: translate(0px, 200px);
}
/*skills placement*/
.stage:has(label:nth-of-type(5) input:checked) ~.img-container .background-img{
  transform: translate(500px, -200px);
}
