* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  background-color: rgb(222, 196, 146);
}

.stage {
  position: relative;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font:1.5rem bolder;
  background: linear-gradient(rgb(223, 174, 85), rgb(192, 104, 3));
  padding: 1rem;
  width: 10rem;
  border-radius: 1rem;
  border-color: rgb(255, 237, 105);
  border-top: rgb(255, 250, 209);
  box-shadow: 0rem 0.5rem 10px rgba(0, 0, 0, 0.245);


  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1),
    width 0.3s ease,
    height 0.1s ease,
    background 0.3s ease,
    color 0.1s ease;
}

.stage button.is-active {
  font:1.5rem bolder;
  width: 150px;
  height: 64px;
  background: linear-gradient(lightyellow, orange);
  color: #fff;
  border-color: #ffefe7;
  z-index: 10;
}

.stage button.is-adjacent {
  font:1.25rem bolder;
  width: 150px;
  height: 48px;
  z-index: 9;
}

.stage button.is-far {
  font:1rem bolder;
  width: 150px;
  height: 36px;
  z-index: 8;
}

img {
  width: 100%;
  height: auto;
}