@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hammersmith+One&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --BACKGROUND-GRADIENT: linear-gradient(rgb(77, 154, 255), rgb(214, 214, 214));
  --RED: #d66228;
  --ORANGE: #F77F00;
  --YELLOW: #FCBF49;
  --WHITE: #EAE2B7;

  --BUTTON_GRADIENT_BACK: linear-gradient(var(--WHITE), var(--ORANGE));
  --BUTTON_GRADIENT_BACK_HIGHTLIGHTED: linear-gradient(var(--ORANGE), var(--WHITE));
  --BUTTON_GRADIENT_FRONT: linear-gradient(var(--YELLOW), var(--RED));
  --BUTTON_SHADOW_COLOR: rgba(70, 67, 26, 0.466);
  --BUTTON_SHADOW_COLOR_HIGHLIGHT: rgba(255, 241, 39, 0.808);
  --BUTTON_SPACING_MIN: 25px;

  --FT_COLOR_BLACK: black;
  --FT_COLOR_WHITE: white;
  --FF: 'Hammersmith One', sans sarif;
  --FT_SIZE_HEADER_BIG_MIN: 0.5rem;
  --FT_SIZE_HEADER_MEDIUM_MIN: 0.4rem;
  --FT_SIZE_HEADER_SMALL_MIN: 0.3rem;
  --FT_SIZE_HEADERS: 0.4rem;
  --FT_SIZE_PLAINTEXT: 0.3rem;

}

html {
  background: var(--BACKGROUND-GRADIENT);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--FF);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

/*MAIN STYLING*/
body {
  display: flex;
  background: linear-gradient(rgb(155, 210, 255), rgb(61, 59, 158));
  padding: 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  gap: 2vh;
  margin: 0.2rem;
  width: fit-content;
}

main {
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
}



section {
  display: none;
  color: #d6622800;
  transition: color 0.4s ease;

  h2 {
    font-size: var(--FT_SIZE_HEADERS);
  }

  p,
  cite,
  li {
    font-size: var(--FT_SIZE_PLAINTEXT);
  }
}

header:has(.stage > *:nth-of-type(1) input:checked)~main> :nth-child(2),
header:has(.stage > *:nth-of-type(2) input:checked)~main> :nth-child(3),
header:has(.stage > *:nth-of-type(3) input:checked)~main> :nth-child(1),
header:has(.stage > *:nth-of-type(5) input:checked)~main> :nth-child(4),
header:has(.stage > *:nth-of-type(4) input:checked)~main> :nth-child(5) {
  transform: translateX(0px);
  color: var(--FT_COLOR_BLACK);
  display: block;
}


/*UTILITIE CLASSES*/
.hidden {
  position: absolute;
  transform: translate(10000px);
}

/*NAVIGATION*/
.stage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.stage label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--BUTTON_GRADIENT_BACK);
  padding: 0.1rem;
  font-size: var(--FT_SIZE_HEADER_SMALL_MIN);
  scale: 1;
  border: 0px solid var(--WHITE);
  border-radius: 0.25rem;
  box-shadow: 0rem 0.25rem 15px var(--BUTTON_SHADOW_COLOR);
  user-select: none;
  position: absolute;

  transition:
    transform 0.2s cubic-bezier(.19,.73,.45,1.18),
    background 0.3s ease,
    scale 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

/*ACTIVE TAB*/
.stage label:has(>input:checked) {
  font-size: var(--FT_SIZE_HEADER_BIG_MIN);
  scale: 1.5;
  margin: 0 auto;
  box-shadow: 0rem 0rem 20px var(--BUTTON_SHADOW_COLOR_HIGHLIGHT);
  background: var(--BUTTON_GRADIENT_FRONT);
  color: var(--FT_COLOR_WHITE);
  border: 1px solid var(--WHITE);
  z-index: 10;
}

/* MEDIUM HEADER BUTTONDS */
.stage label:has(+ label input:checked),
.stage label:has(> input:checked)+label {
  font-size: var(--FT_SIZE_HEADER_MEDIUM_MIN);
  scale: 1.4;
  z-index: 9;
}

/* SMALL HEDAER BUTTONS */
.stage label:has(+ label + label input:checked),
.stage label:has(> input:checked)+label+label {
  font-size: var(--FT_SIZE_HEADER_SMALL_MIN);
  scale: 1.2;
  z-index: 8;
}

/*AFTER ACTIVE*/
.stage label:has(+ label input:checked) {
  transform: translatex(var(--BUTTON_SPACING_MIN));
}

/*AFTER AFTER ACTIVE*/
.stage label:has(+ label + label input:checked) {
  transform: translatex(calc(var(--BUTTON_SPACING_MIN)*2));
}

/*BEFORE ACTIVE*/
.stage label:has(> input:checked)+label {
  transform: translatex(calc(var(--BUTTON_SPACING_MIN)*-1));
}

/*BEFORE BEFORE ACTIVE*/
.stage label:has(> input:checked)+label+label {
  transform: translatex(calc(var(--BUTTON_SPACING_MIN)*-2));
}

/*FOCUS TAB AND HOVER*/
.stage label:has(>input:not(:checked)):hover,
.stage label:has(>input:not(:checked)):focus {
  background: var(--BUTTON_GRADIENT_BACK_HIGHTLIGHTED);
}

/*BACKGROUND IMAGE PLACEMENT*/
.background-img {
  position: absolute;
  transition: transform 0.5s cubic-bezier(.13, .55, .4, 1.38);
  pointer-events: none;
}

.background-img img {
  position: relative;
  width: 100%;
  height: auto;
}

.img-container {
  display: flex;
  justify-content: center;
}

/*hobbys placement*/
.stage:has(label:nth-of-type(1) input:checked)~.img-container .background-img {
  transform: translate(-500px, -200px);
}

/*ambitions placement*/
.stage:has(label:nth-of-type(2) input:checked)~.img-container .background-img {
  transform: translate(300px, -300px) rotate(-45deg);
}

/*profile placement*/
.stage:has(label:nth-of-type(3) input:checked)~.img-container .background-img {
  transform: translate(0px, -200px);
}

/*educations placement*/
.stage:has(label:nth-of-type(4) input:checked)~.img-container .background-img {
  transform: translate(0px, 200px);
}

/*skills placement*/
.stage:has(label:nth-of-type(5) input:checked)~.img-container .background-img {
  transform: translate(500px, -200px);
}